@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  transition: all 200ms;
}

html {
  font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

.spoiler {
  background: #5865f2;
  color: transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  padding: 0 4px;
  transition: color 0.2s;
}

.spoiler.text-white {
  color: #fff;
}