@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  transition: all 200ms;
}

.spoiler {
  background: #5865f2;
  color: transparent;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  padding: 0 4px;
  transition: color 0.2s;
}

.spoiler.text-white {
  color: #fff;
}